<mat-toolbar color="primary">
  <span><a routerLink="/" routerLinkActive="router-link-active">myMessages</a></span>
  <span class="space"></span>
  <ul>
    <li *ngIf="existUser">
      <a mat-button routerLink='/create' routerLinkActive="mat-accent">Add post</a>
    </li>
    <li *ngIf="!existUser">
      <a mat-button routerLink='/user/login' routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="existUser">
      <button mat-button (click)="onLogoff()">Logout</button>
    </li>
    <li *ngIf="!existUser">
      <a mat-button routerLink='/user/register' routerLinkActive="mat-accent">Sign up</a>
    </li>
  </ul>
</mat-toolbar>
