ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.active {
  /* color: #fcfcfc; */
  text-decoration: underline;
  text-underline-position: under;
}

.logout {
  color: white;
}

:host ::ng-deep mat-icon {
  margin-bottom: 5px;
}

.space {
  flex: 1 1 auto;
}

li {
  list-style: none;
}

.actuality {
  margin-left: 1.5rem;
}

mat-toolbar {
  background-color: transparent
}