<mat-toolbar>
  <span><a routerLink="/" routerLinkActive="router-link-active">myForum</a></span>
  <li class="actuality">
    <a mat-button routerLink='/home' routerLinkActive="active">Aktualności</a>
  </li>
  <span class="space"></span>
  <ul>
    <li *ngIf="existUser">
      <a mat-button routerLink='/create' routerLinkActive="active">Dodaj post</a>
    </li>
    <li *ngIf="!existUser">
      <a mat-button routerLink='/user/login' routerLinkActive="active">Zaloguj</a>
    </li>
    <li *ngIf="!existUser">
      <a mat-button routerLink='/user/register' routerLinkActive="active">Zarejestruj się</a>
    </li>
    <button *ngIf="existUser" mat-button [matMenuTriggerFor]="menu" style="color:aliceblue">
        {{ this.username }}
      </button>
    <mat-menu #menu="matMenu">
      <li *ngIf="existUser">
        <button mat-button (click)="onLogoff()">Wyloguj się</button>
      </li>
    </mat-menu>
  </ul>
</mat-toolbar>
