:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.attachment img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5)
}

mat-paginator {
  margin-top: 1rem;
}

.example-header-image img {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.comment-form {}

.like:focus {
  color: #20c420;
}

.dislike:focus {
  color: red;
}

.material-icons {
  font-size: 30px;
}

.likesCount {
  font-size: 18px;
  margin: 0.6rem 1rem 0;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.creator {
  color: #272797;
  margin-top: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
}