:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.attachment img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5)
}

mat-paginator {
  margin-top: 1rem;
}

.example-header-image img {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.comment-form {}

/* .mat-title {
  margin-top: 3px;
} */

.like {
  color: #20c420;
}

.dislike {
  color: red;
}

.creator {
  color: #272797;
  margin-top: 0.5rem;
}