<mat-spinner *ngIf="loader"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !loader">
  <mat-expansion-panel *ngFor="let post of posts" [expanded]="true">
    <mat-expansion-panel-header>
      <div mat-card-avatar class="example-header-image"><img src="/assets/avatars/men.png" alt=""></div>
        <div class="" style="margin-top: 4px">
            {{ post.title }}
        </div>
    </mat-expansion-panel-header>
    <div class="attachment">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{ post.content }}</p>
    <div>
      <mat-card-subtitle class="creator">@{{ post.username }}</mat-card-subtitle>
    </div>
    <mat-action-row *ngIf="loggedUser && memberId === post.creator">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]" routerLinkActive="router-link-active">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
    <mat-card-actions *ngIf="memberId !== post.creator" style="display: flex; justify-content: flex-end">
      <div class="buttons" *ngIf="loggedUser">
        <button mat-icon-button class="like" (click)="likePost(post.id)">
          <mat-icon>thumb_up</mat-icon>
        </button>
        <button mat-icon-button class="dislike" (click)="dislikePost(post.id)">
          <mat-icon>thumb_down</mat-icon>
        </button>
        <div class="likesCount">{{ post.likes }}</div>
      </div>
      <div *ngIf="!loggedUser" class="likesCount">Ocena: {{ post.likes }}</div>
    </mat-card-actions>
    <button mat-button (click)="showComment(post.id)">Pokaż komentarze</button>
    <button mat-button (click)="addComment(post.id)" *ngIf="loggedUser">Dodaj komentarz</button>
    <br>
    <div *ngIf="showComments[0] === post.id">
      <!-- nie pokazuje się gdy w innym są otwarte-->
      <p class="info-text mat-body-1" *ngIf="post.comments.length <= 0">Brak komentarzy</p> 

      <mat-card class="comment-group" *ngFor="let com of post.comments">
        <mat-card-header >
          <div mat-card-avatar class="example-header-image"><img src="../assets/avatars/no-phto.png" alt=""></div>
          <mat-card-title>{{ com.commentator }}</mat-card-title>
          <mat-card-subtitle>Odp do {{ post.title }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ com.comment }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>DISLIKE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="addNewComment[0] === post.id">
      <mat-card class="commmnt-form">
        <form (submit)="onComment(post.id)" [formGroup]="form">
          <mat-form-field>
            <textarea matInput rows="4" formControlName="comment" placeholder="Odpowiedź"></textarea>
            <mat-error>Wprowadź treść</mat-error>
          </mat-form-field>
          <button mat-raised-button color="accent" type="submit">Dodaj komentarz</button>
        </form>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator *ngIf="posts.length > 0" [length]="postAmount" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)">
</mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !loader">Nie ma jeszcze żadnych postów!</p>
