<div class="d-flex">
  <mat-card class="card">
    <p class="admission">
      Serwis w ramach pracy dyplomowej na kierunku Informatyka, na Wydziale Fizyki, Astronomii i Informatyki Stosowanej
      Uniwersytetu Jagiellońskiego
    </p>
    <h1 class="title">Forum dla studentów w technologii MEAN Stack</h1>
    <p class="explication">Projekt ten stanowi integralną część pracy licencjackiej przygotowanej pod kierunkiem prof. dr hab. Jerzego Koniora
    </p>
    <p class="author">Autor: Katarzyna Sobczyk</p>
  </mat-card>
  <div>
    <img src="/assets/images/mean_logo.png" alt="logo" width="400px">
  </div>
</div>

